<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>index</title>
		<link rel="stylesheet" href="style.css" type="text/css" media="screen" charset="utf-8" />
		<meta name="keywords" content="keywords" />
        <meta name="description" content="description" />
        <meta name="author" content="xtunes.cc" />
         <!-- jQuery (required) & jQuery UI (for this demo only) -->
 <script type="text/javascript" src="js/jquery-1.5.1.min.js"></script>
 <script type="text/javascript" src="js/jquery.anythingslider.js"></script>

	</head>
	<body class="intro">
		<div id="container">
			<div class="title"><img src="images/title.png"></div>
			<div class="video">
						<img src="images/video.jpg" > 	
			</div>
			<a class="skip" href="home.html">SKIP</a>
		</div>
	</body>
</html>