<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>index</title>
		<link rel="stylesheet" href="style.css" type="text/css" media="screen" charset="utf-8" />
		<meta name="keywords" content="keywords" />
        <meta name="description" content="description" />
        <meta name="author" content="xtunes.cc" />
         <!-- jQuery (required) & jQuery UI (for this demo only) -->
 <script type="text/javascript" src="js/jquery-1.5.1.min.js"></script>
 <script type="text/javascript" src="js/jquery.anythingslider.js"></script>

	</head>
	<body class="page">
		<div id="container">
			<div class="title"><img src="images/title2.png"></div>
			<div class="nav">
				<ul>
				   <li><a href="#">COLLETIONS</a></li>
				   <li><a href="#">DESIGN</a></li>
				   <li><a href="#">OTHERS</a></li>
				   <li><a href="#">BIOGRAPHY</a></li>
				   <li><a href="#">PRINTS</a></li>
				   <li><a href="#">CONTACT</a></li>
				   <li class="last"><a href="#">PRESS ROOM</a></li>
				</ul>
			</div>
			<div class="main">
				<img src="images/comingsoon.jpg">
			</div>
			<div class="footer">
				<p class="bold">Background Music: J’ai Peur - Heart Demon</p>
				<p>Lyric: Hong xi ying</p>
				<p>rearragnment and voice: Anqi LIN</p>
				<p>Origin track: Goldie</p>
				<p>Turn off</p>
				<div class="copyright">
				<p class="bold">WEB IMAGE AND DESIGN BY anqi.LIN, all copyrights reserved,2011</p>
				<p class="bold">Webmaster by XTUNES</p>
				</div>
			</div>
		</div>
	</body>
</html>